<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".sy_" mimeType="application/x-msdownload" />
            <mimeMap fileExtension=".dl_" mimeType="application/x-msdownload" />
        </staticContent>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="Default.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
